name: Download plugins

on:
  push:
  schedule:
    - cron: "0 3 * * *"

jobs:
  run:
    runs-on: ubuntu-20.04

    services:
      redis:
        image: ghcr.io/noahcardoza/cloudproxy:v1.0.1
        ports:
          - 8191:8191

    steps:
      - name: Checkout code
        uses: actions/checkout@master

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Settings
        run: |
          echo "${{ secrets.ENV_FILE }}" > .env

      - name: Run
        run: |
          ./setup.sh
          source env/bin/activate
          python redcraft_plugins_updater.py redcraft_plugins.json
